table {
  margin-top: 100px;
  border-collapse: collapse;

  td,
  th {
    width: 2000px;
    height: 30px;
    text-align: center;
    border: 1px solid rgb(220, 220, 220);

  }

  tr:hover {
    background-color: rgb(239, 239, 240);
  }

  th {
    background-color: rgb(239, 239, 240);
  }

  .none {
    display: block;
    height: 80px;
    line-height: 80px;
    color: rgb(220, 220, 220);
  }

  tfoot {
    span {
      margin-left: 20px;
    }
  }

}